.erro{
    box-shadow:0 0 12px red!important;
}

.listaProduto{
    width: 100%;
    font-size: 15px;
/*    float: left!important;
    position: relative!important;*/
}

.listaProduto button{
    position: absolute!important;
    right: 0px!important;
    top: 0px!important;
    width: 25%;
    height: 100%!important;
    line-height: 100%!important;
    background-color: red!important;
    color: white!important;
}

.apagar button{
    display: none;
}



.cabecalhoFixo{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 999;
    font-family: calibri;
}

.cabecalhoFixo i{
    margin: 5px;
}

.cabecalhoFixo div{
    position: relative;
    height: 50px;
    width: 50%;
    line-height: 50px;
    font-size: 20px;
}


.materialSolicitadoHeader div{
    width: 50%;
    float: left;
    position: relative;
}

.ladoDireito{
    text-align: right;
}
.ladoEsquerdo{
    text-align: left;
}

.rodapeFixo{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

.rodapeFixo i{
    margin: 10px 20px;
}

.listaProduto i{
    color: #26a69a;
}

.clicado{
    color: orange;
}

.invisivel{
    display: none;
    transition: display 0.5s;
}

#materialSolicitadoList{
    font-size: 25px;
}

.seletor{
    width: 10%;
}
.detalheListaPendente{
    width: 87%;
}

.detalheListaPendente, .seletor{
    position: relative;
    float: left;
}

.apagarBtn{
    position: relative;
    float: left;
    width: 20%;
}

#totalPendente i{
    margin: 0px 5px;
    padding: 0px;
}

#totalPendente div{
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    width: 33%;
    text-align: center;
}

#totalPendente button{
    width: 90%;
    font-size: 10px;
}

.dataPedido{
    color: gray;
    font-size: 13px!important;
}

.setor{
    color: gray;
    font-size: 14px!important;
}

.apelido{
    font-size: 24px!important; 
    font-weight: bold!important;
}

.quantidade{
    position: absolute; 
    top: 30px; 
    right: 10px; 
    font-size: 27px!important;
    font-weight: bold!important;
}

#imagemMaterialSolicitado img{
    width: 75%; margin: 0px auto;
}

#imagemMaterialSolicitado p{
    text-align: center; 
    margin-top: 0px;
    font-weight: bold;
    font-size: 25px;
}

.oculto{
    visibility: hidden;
    /*transition: visibility 0.5s;*/
}

.popup{
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    z-index: 9999;
}

.inner-popup{
    margin: 20px auto;
    width: 90%;
    height: 50%;
    background-color: white;
    padding-top: 50px;
}